.Feature {
    width: 360px;
    height: 350px;
    background-color: #6000de;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.feature-image {
    position: absolute;
    top: 0;
    left: 0;
}

.feature-owner {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #7a29e48f;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 10;
    left: calc(50% - 100px);
    bottom: 35%;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "feature-avatar feature-name";
}

.feature-avatar {
    grid-area: feature-avatar;
    align-self: center;
}
.feature-name {
    grid-area: feature-name;
    align-self: center;
    justify-self: start;
    padding-left: 10px;
}

.feature-title {
    width: 60%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
}


@media (max-width: 1024px) {
    .Feature {
        width: 300px;
    }
}

@media (max-width: 460px) {
    .Feature {
        width: 350px;
    }
}

@media (max-width: 320px) {
    .Feature {
        width: 310px;
    }
}
