.Feature {
    width: 310px;
    height: 340px;
    background-color: var(--primary-blue);
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
        "feature-header"
        "feature-content";
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.feature-header {
    grid-area: feature-header;
    background-color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 102% 102%;
}

.feature-video {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--base-3);
    font-size: 24px;
    position: absolute;
    top: calc(50% - 35px);

    left: calc(50% - 35px);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all ease-in;
    cursor: pointer;
}

.Feature:hover .feature-video {
    opacity: 1;
    visibility: visible;
}

.feature-video:hover {
    transform: scale(1.2);
}

.feature-content {
    width: 100%;
    grid-area: feature-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-content h3 {
    width: 90%;
    text-align: center;
    /* font-size: 18px; */
}

.feature-content h5 {
    color: var(--base-3);
    font-weight: 500;
}

.feature-owner {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #7a29e48f;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 10;
    left: calc(50% - 100px);
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-avatar {
    grid-area: feature-avatar;
    align-self: center;
}
.feature-name {
    grid-area: feature-name;
    align-self: center;
    justify-self: start;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .Feature {
        width: 270px;
    }
}


@media (max-width: 320px) {
    .Feature {
        width: 290px;
    }
}