.Master {
    width: 230px;
    height: 300px;
            background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 10;
}

.Master:hover .master-content {
    background-color: #6000de;
    color: #ffffff;
}

.Master .score {
    color: #8f8f8f;
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 10%;
}

.Master .master-content {
    width: 100%;
    height: 275px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Master .master-professor {
    margin-top: 20px;
    text-align: center;
}

.Master .master-professor h3 {
    font-size: 14px;
    margin-bottom: 10px;
}
.Master .master-professor p {
    color: #8f8f8f;
    font-size: 12px;
}


.Master .master-technology {
    width: 100%;
    height: 75px;
    border-top: 1px solid rgba(143, 143, 143, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Master .master-image {
    position: relative;
}

.Master .master-image img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.Master .cover-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.Master .master-more {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 14px;
    background-color: #8f8f8fb2;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s all ease-in ;
}

.master-more:hover {
    transform: scale(1.3);
}

.Master:hover .cover-image {
    visibility: visible;
}

@media (max-width:1024px) {
    .Master {
        width: 200px;
        height: 320px;
    }

        .Master .score {
        top: 3%;
        right: 5%; 
    }
}

@media (max-width: 860px) {
    .Master {
        width: 250px;
    }
}