.Membership {
    width: 270px;
    height: 340px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.membership-header {
    width: 100%;
    height: 80px;
    background-color: #000000;
    position: relative;
}

.membership-header img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.membership-body {
    width: 100%;
    height: 270px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        "membership-info"
        "membership-course"
        "membership-button";
    padding: 20px;
}

.membership-info {
    grid-area: membership-info;
    border-bottom: 1px solid rgba(143, 143, 143, 0.4);
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "membership-icon membership-name";
}

.membership-icon {
    grid-area: membership-icon;
    justify-self: center;
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #6000de;
    display: flex;
    align-items: center;
    justify-content: center;
}
.membership-name {
    grid-area: membership-name;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.membership-name h4 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.membership-name h5 {
    color: #6000de;
    font-size: 14px;
    font-weight: 500;
}

.membership-course {
    grid-area: membership-course;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.membership-course p {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}

.membership-course p span {
    font-size: 14px;
    color: #8f8f8f;
    font-weight: 700;
}

.membership-button {
    grid-area: membership-button;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership-button a {
    text-decoration: none;
    color: #000000;
    border: 1px solid rgba(143, 143, 143, 0.6);
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership-button a:hover {
    color: #ffffff;
    background-color: rgba(143, 143, 143, 0.6);
}


@media (max-width:1024px) {
    .Membership {
        width: 230px;
    }
}



@media (max-width: 860px) {
    .Membership {
        width: 310px;
    }
}