.SeeMoreFeatures {
     width: 310px;
    height: 340px;
    background-color: var(--base-1);
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.SeeMoreFeatures h1 {
    margin-bottom: 15px;
}


@media (max-width: 1024px) {
    .SeeMoreFeatures {
        width: 300px;
    }
}
