.BannerTop {
    width: 100%;
    height: 40px;
    background-color: var(--primary-blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}

.BannerTop .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.5;
}

.BannerTop .close-icon:hover {
    opacity: 1;
}

.banner-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.banner-container p {
    font-weight: 700;
}
.banner-container span {font-weight: 200;}
.banner-container a {
    text-decoration: underline;
}


@media (max-width: 860px) {
        .banner-information h1 {
        font-size: 16px;
    }

    .banner-information p {
        font-size: 12px;
    }

    .banner-container a {
        width: 150px;
        height: 40px;
    }
}

@media (max-width:460px) {
    .BannerTop {
        height: 60px;
    }
    .banner-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .banner-information {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0;
    }
    .banner-information img{
        display: none;
    }
    .banner-information h1 {
        font-size: 20px;
    }

    .banner-container  p {
        font-size: 12px;
        width: 80%;
    }

}
