.BulletPoint {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.BulletPoint .center {
    width: 6px;
    height: 6px;
    border-radius: 3px;
}