.ContentMaster {
    width: 100%;
    height: 670px;
    background-color: var(--line);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-master-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content-master-sliders content-master-info";
}

.content-master-sliders {
    grid-area: content-master-sliders;
    background-color: var(--line);
    position: relative;
}

.content-master-content {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-master-navigation {
    width: 520px;
    height: 48px;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(13.6px);
    backdrop-filter: blur(13.6px);
    background-color: rgba(255, 255, 255, 0.47);
    position: absolute;
    z-index: 100;
    bottom: 40px;
    left: calc(50% - 260px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 48px;
}

.master-navigation-option {
    border: none;
    height: 34px;
    border-radius: 17px;
    padding: 0px 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.master-navigation-option:hover {
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(97, 97, 97, 0.5);
}

.option-active {
    background-color: rgba(97, 97, 97, 0.5);
}

.master-navigation-button-previous,
.master-navigation-button-next {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: var(--primary-blue);
    position: absolute;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.master-navigation-button-previous:disabled,
.master-navigation-button-next:disabled {
    background-color: var(--base-3);
    cursor: default;
}

.master-navigation-button-previous {
    left: 0;
}

.master-navigation-button-next {
    right: 0;
}

.content-master-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content-master-image img {
    max-width: 100%;
    max-height: 100%;
}

.content-master-filter {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        #000000,
        #3b3b3b,
        #7777775e,
        #b9b9b900,
        #ffffff00
    );
    opacity: 0.7;
    position: absolute;
    z-index: 10;
}

.content-master-description {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15%;
}

.content-master-description h2 {
    color: var(--primary-blue);
    font-size: 73px;
    font-weight: 500;
}

.content-master-description p {
    color: #ffffff;
    text-transform: uppercase;
    width: 300px;
    /* height: 80px; */
    font-size: 32px;
    font-weight: 500;
    line-height: 1.09;
}

.content-master-info {
    grid-area: content-master-info;
    background-color: #ffffff;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-master-info h1 {
    color: black;
    font-size: 64px;
    line-height: 1.09;
    font-weight: 500;
}

.content-master-info span {
    color: var(--primary-blue);
}

.content-master-info p {
    color: var(--base-3);
    font-size: 20px;
    font-weight: 300;
    margin: 40px 0;
}

.content-master-info p > span {
    font-weight: 700;
}

.content-master-info button {
    border: 1px solid var(--primary-blue);
    width: 180px;
    height: 48px;
    border-radius: 24px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary-blue);
    font-size: 16px;
}

@media (max-width: 1280px) {
    .ContentMaster {
        height: 600px;
    }
}

@media (max-width: 1024px) {
    .ContentMaster {
        height: 540px;
    }

    .content-master-info {
        padding: 0 10%;
    }

    .content-master-navigation {
        width: 450px;
        left: calc(50% - 225px);
    }

    .master-navigation-option {
        font-size: 10px;
    }

    .content-master-description {
        padding-bottom: 20%;
    }

    .content-master-description h2 {
        font-size: 68px;
    }

    .content-master-info h1 {
        font-size: 58px;
    }

    .content-master-info p {
        font-size: 18px;
    }
}

@media (max-width: 860px) {
    .ContentMaster {
        height: 1200px;
    }

    .content-master-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "content-master-info" "content-master-sliders";
    }

    .content-master-info {
        padding: 0 15%;
    }
    .content-master-info h1 {
        font-size: 64px;
    }

    .content-master-info p {
        font-size: 20px;
    }

    .content-master-description {
        padding-bottom: 15%;
    }

    .content-master-navigation {
        width: 620px;
        left: calc(50% - 310px);
    }

    .master-navigation-option {
        font-size: 14px;
    }
}

@media (max-width: 460px) {
    .ContentMaster {
        height: 800px;
    }
    .content-master-info h1 {
        font-size: 42px;
    }

    .content-master-info p {
        font-size: 16px;
    }

    .content-master-navigation {
        width: 320px;
        height: 36px;

        left: calc(50% - 160px);
        bottom: 5%;
    }

    .master-navigation-option {
        font-size: 8px;
        padding: 0px 10px;
        height: 28px;
        border: 14px;
    }

    .content-master-description {
        padding-left: 0;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 20%;
    }

    .content-master-description h2 {
        font-size: 52px;
        line-height: 1;
    }

    .content-master-description  p {
        font-size: 23px;
        margin-left: 10px;
        width: 60%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .master-navigation-button-previous,
.master-navigation-button-next {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: none;
    background-color: var(--primary-blue);
    position: absolute;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
}

@media (max-width: 320px) {

    .ContentMaster {
        height: 700px;
    }

        .content-master-info h1 {
        font-size: 38px;
    }

        .content-master-info p {
        font-size: 14px;
    }
    

    .content-master-description  p { 
        font-size: 18px;
    }
}