.Convert3DPro {
    width: 100%;
    height: 450px;
    border-bottom: 1px solid var(--line);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.convert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.convert-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.convert-header h1 {
    width: 60%;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.09;
    position: relative;
}

.convert-header h1 > span {
    color: var(--primary-blue);
}

.convert-underline {
    width: 520px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.convert-header p {
    width: 35%;
    font-size: 20px;
    line-height: 1.35;
    text-align: left;
    color: var(--base-3);
}


.convert-content {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 0.1fr 2.8fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "convert-previous convert-carousel convert-next";
}
.convert-carousel {
    grid-area: convert-carousel;
    align-self: center;
    justify-self: center;
}
.convert-previous {
    grid-area: convert-previous;
    align-self: center;
    justify-self: center;
}
.convert-next {
    grid-area: convert-next;
    align-self: center;
    justify-self: center;
}

@media (max-width: 860px) {
    .Convert3DPro {
        height: 550px;
    }

    .convert-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .convert-header h1 {
        width: 100%;
        font-size: 52px;
        margin-bottom: 40px;
        text-align: center;
    }

    .convert-underline {
        width: 420px;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 210px);
    }

    .convert-header p {
        width: 100%;
        text-align: center;
    }

    .convert-technologies img {
        margin: 0px 10px;
    }
}

@media (max-width: 460px) {
    .Convert3DPro {
        height: 550px;
    }

    .convert-header h1 {
        width: 100%;
        font-size: 38px;
        margin-bottom: 40px;
        text-align: center;
    }

    .convert-underline {
        width: 320px;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 160px);
    }
}

@media (max-width: 320px) {
    .convert-header h1 {
        width: 100%;
        font-size: 32px;
        margin-bottom: 40px;
        text-align: center;
    }

    .convert-technologies img {
        margin: 0px 5px;
    }

    .convert-underline {
        width: 280px;
        position: absolute;
        bottom: -5px;
        left: calc(50% - 140px);
    }
}
