.Courses {
    width: 100%;
    height: 1900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-1);
    color: white;
    border-top: 1px solid var(--line);
}

.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 60px;
}

.courses-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-title {
    display: flex;
    align-items: flex-start;
}

.courses-title h1 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.09;
}

.courses-title img {
    margin-top: 6px;
    margin-right: 10px;
}

.courses-navigation {
    width: 310px;
    height: 50px;
    background-color: rgba(143, 143, 143, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
    border-radius: 30px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}

.courses-navigation button {
    width: 280px;
    height: 30px;
    margin: 0px 5px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    color: #d4d4d4;
    outline: none;
}

.courses-navigation button:hover {
    background-color: #d4d4d4b6;
    color: #ffffff;
}

.courses-navigation .bActive {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;
    background-color: #d4d4d4b6;
    color: #000000;
}

.courses-content-mobile {
    display: none;
}

.courses-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px 20px;
    overflow-y: hidden;
}

.courses-see-more {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width:860px) {
    .Courses {
        height: 1200px;
    }
}

@media (max-width:460px) {
    .courses-header {
        flex-direction: column;
    }

    .courses-title{
        align-self: flex-start;
        margin-bottom: 30px;
    }

}