.FAQ {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    border-top: 1px solid var(--line);
}

.faq-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-title h1 {
    font-size: 32px;
    font-weight: 500;
    position: relative;

}

.faq-title span {
    color: var(--primary-blue);
}

.faq-title img {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.faq-content {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "faq-imagen faq-questions";
}

.faq-questions {
    width: 100%;
    grid-area: faq-questions;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px 60px 0;
    /* margin-left: 40px; */
}

.request-advice {
    width: 250px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
    font-size: 16px;
    background-color: transparent;
    margin-top: 40px;
    cursor: pointer;
}

.request-advice:hover {
    background-color: var(--primary-blue);
    color: white;
}

.faq-imagen {
    width: 100%;
    grid-area: faq-imagen;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.faq-imagen img {
    width: 100%;
    object-fit: contain;
    position: relative;
    bottom: 0;
}

@media (max-width:860px) {
    .FAQ {
        height: auto;
    }

        .faq-imagen img {
    width: 80%;
}

    .faq-content {
        display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "faq-questions" "faq-imagen";
    }

    .faq-questions {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}

@media (max-width:460px) {

    .faq-title h1 {
    font-size: 28px;
    font-weight: 500;
    position: relative;

}

.faq-content {
    grid-template-rows: 1fr 0.5fr;

}

.faq-title img {
    width: 170px; }

    .FAQ {
        height: auto;
    }

    .faq-questions {
        margin: 0;
    }
    .faq-imagen img {
    width: 90%;
}
}

@media (max-width:320px) {
    .FAQ {
        height: auto;
    }

    .faq-title h1 {
    font-size: 24px; }

    .faq-title img {
    width: 150px; }
}
