.FeaturedResults {
    width: 100%;
    height: 620px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results-title {
    display: flex;
    align-items: flex-start;
}

.results-title h1 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.09;
}

.results-title img {
    margin-top: 6px;
    margin-right: 10px;
}

.results-navigation {
    width: 310px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
    border-radius: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.results-navigation button {
    width: 280px;
    height: 30px;
    margin: 0px 5px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    color: #d4d4d4;
}

.results-navigation button:hover {
    background-color: #d4d4d4b6;
    color: #ffffff;
}

.results-active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;
    background-color: #d4d4d4b6;
    color: #000000;
}

.results-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.results-content-mobile {
    display: none;
}


.results-buttons {
    margin-top: 40px;
    display: flex;
}

.results-buttons button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: var(--primary-blue);
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    margin: 0 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-buttons button:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;

}

@media (max-width: 860px) {
    .results-content {
        display: none;
    }

    .results-content-mobile { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
}

@media (max-width:460px) {

    .FeaturedResults {
        height: 750px;
    }

    .results-header {
        flex-direction: column;
    }

    .results-title {
        align-self: flex-start;
        margin-bottom: 30px;
    }
}