.FeaturedResults {
    width: 100%;
    height: 620px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results-title {
    display: flex;
    align-items: flex-start;
}

.results-title h1 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.09;
}

.results-title img {
    margin-top: 6px;
    margin-right: 10px;
}

.results-content {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "result-previous results-carousel result-next";
}
.results-carousel {
    grid-area: results-carousel;
    align-self: center;
    justify-self: center;
}
.result-previous {
    grid-area: result-previous;
    align-self: center;
    justify-self: center;
}
.result-next {
    grid-area: result-next;
    align-self: center;
    justify-self: center;
}

.results-buttons {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 24px;
    background-color: var(--primary-blue);
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.results-buttons:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6) inset;
}

@media (max-width: 860px) {
    .results-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1.8fr 0.2fr;
        gap: 20px 0px;
        grid-template-areas:
            "results-carousel results-carousel"
            "result-previous result-next";
    }
    .results-carousel {
        grid-area: results-carousel;
    }
    .result-previous {
        grid-area: result-previous;
    }
    .result-next {
        grid-area: result-next;
    }

    /* .FeaturedResults .rec-carousel-wrapper {
        width: 350px;
    } */
}

@media (max-width: 460px) {
    .results-header {
        flex-direction: column;
    }

    .results-title {
        align-self: flex-start;
        margin-bottom: 30px;
    }

    .results-content-mobile {
        margin-top: 0;
    }
}

