.Financing {
    width: 100%;
    height: 520px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.financing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.financing-header {
    width: 100%;
    /* height: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.financing-title {
    width: 60%;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.09;
    position: relative;
}

.financing-title span {
    color: var(--primary-blue);
}

.financing-title img {
    width: 480px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

/* .financing-header a {
    width: 120px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.financing-header a:hover {
    color: var(--primary-blue);
} */

.financing-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-methods {
    width: 100%;
    display: grid;
    grid-template-columns: 0.1fr 2.8fr 0.1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "payment-previous payment-carousel payment-next";
}
.payment-carousel {
    grid-area: payment-carousel;
}
.payment-previous {
    grid-area: payment-previous;
}
.payment-next {
    grid-area: payment-next;
}

.financing-info {
    /* margin: 60px 0px; */
    width: 50%;
    padding: 20px;
}

.financing-info p {
    margin: 10px 0px;
    font-size: 16px;
    line-height: 1.35;
    text-align: left;
    color: var(--base-3);
}

@media (max-width: 860px) {
    .Financing {
        height: 620px;
    }

    .financing-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    .financing-title {
        width: 100%;
        font-size: 52px;
        margin-bottom: 40px;
        text-align: center;
    }

    .financing-title img {
        width: 420px;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 210px);
    }

    .financing-info {
        width: 80%;
        padding: 20px;
    }
}


@media (max-width:460px) {
    .Financing {
        height: 620px;
    }

    .financing-header {
        flex-direction: column;
    }

    .financing-title {
        width: 100%;
        font-size: 38px;
        margin-bottom: 40px;
        text-align: center;
    }

    .financing-title img {
        width: 320px;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 160px);
    }

    .financing-info {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width:320px) {
    .financing-title {
        width: 100%;
        font-size: 32px;
        margin-bottom: 40px;
        text-align: center;
    }

    .financing-title img {
        width: 280px;
        position: absolute;
        bottom: -5px;
        left: calc(50% - 140px);
    }
}