.Header {
    width: 100%;
    height: 940px;
    background-color: var(--base-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    color: white;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    color: var(--base-3);
    padding-left: 30px;
}

.header-information {
    width: 427px;
    height: 100%;
    position: absolute;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(148, 148, 148, 0.2);
    right: 0;
    bottom: 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header-information-content"
        "header-information-technologies";
    width: 427px;
    height: 828px;
}
.header-information-content {
    grid-area: header-information-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.teacher {
    font-size: 16px;
    color: white;
}

.teacher span {
    color: #c2d7ff;
}

.header-information-content h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.09;
}

.header-information-content h3 {
    font-size: 14px;
    font-weight: 500;
}

.header-tag {
    width: 235px;
    height: 48px;
    border-radius: 24px;
    margin: 10px 0;
    -webkit-backdrop-filter: blur(25.8px);
    backdrop-filter: blur(25.8px);
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding-left: 28px;
}

.header-tag span {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
}

.master-cost {
    width: 225px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.master-cost span {
    color: var(--cyan);
}

.Header caption {
    font-size: 16px;
    font-weight: 500;
    color: var(--base-3);
    text-decoration: underline;
}

.header-information-technologies {
    grid-area: header-information-technologies;
    border-top: 1px solid var(--line);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-information-technologies img {
    margin: 0px 10px;
}

.header-item {
    display: flex;
    align-items: center;
}

.Header h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    font-size: 32px;
    line-height: 1.09;
    margin-top: 30px;
}

.Header h1 > span {
    font-size: 64px;
}

.Header h1 > .video-games {
    font-size: 73px;

    font-weight: 700;
    background: linear-gradient(
        90deg,
        rgba(96, 0, 222, 1) 30%,
        rgba(0, 255, 255, 1) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.header-buttons button {
    font-size: 16px;
    width: 190px;

    height: 48px;
    border-radius: 24px;    
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.watch-trailer {
    border: none;
        background: linear-gradient(
        110deg,
        rgba(96, 0, 222, 0.8) 50%,
        rgba(0, 255, 255, 0.6) 80%
    );
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 10px;
}

.watch-trailer span {
        width: 28px;
    height: 28px;
    border-radius: 14px;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-trailer:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.see-theme {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-theme:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.master-benefits {
    width: 450px;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 93px;
}

@media (max-width:860px) {
    .Header {
        height: 1450px;
    }

    .header-container {
        justify-content: flex-start;
    }

    .header-information {
        width: 100%;
    }
}

@media (max-width:460px) {
    
    .Header h1 {
        font-size: 19px;
    }

    .Header h1 > span {
        font-size: 38px;
    }

    .Header h1 > .video-games {
        font-size: 42px;
    }

    .header-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .watch-trailer {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .master-benefits { 
        margin-top: 36px;
        height: 160px;
    }
}

@media (max-width:320px) {
    .Header h1 {
        font-size: 16px;
    }

    .Header h1 > span {
        font-size: 32px;
    }

    .Header h1 > .video-games {
        font-size: 38px;
    }
}