/** @format */

.Header {
  background: linear-gradient(227.3deg, #8A208C 0%, #181B81 100.84%);
  width: 100%;
  padding-top: 120px;
  border-bottom: 1px solid var(--line);
}

.header-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1440px;
  max-width: 100%;
  margin-top: 30px;
}

.header-row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.header-column {
  width: 100%;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  flex: 0 0 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.header-wrap-cart {
  margin-left: -30px;
  margin-right: 0 !important;
  display: flex;
}

.header-cart-item {
  position: relative;
  border-radius: 12px;
  width: calc(19.445% - 30px);
  margin-left: 30px;
}

.header-cart-item.style2 {
  width: calc(41.667% - 30px);
  margin-left: 30px;
}

.header-inner-cart {
  position: relative;
  margin-bottom: 30px;
  border-radius: 12px;
  overflow: hidden;
  transition: all .3s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-inner-cart:hover img {
  transform: scale(1.1);
  filter:grayscale(0);
  -webkit-filter:grayscale(0);
  -ms-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transition: all .3s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(104, 85, 85, 0.7) 0%,
    rgba(26, 19, 19, 0.7) 0%,
    rgba(0, 0, 0, 0) 39.46%
  );
}

.header-item-content {
  z-index: 11;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 100%;
}

.header-wrap-cart .header-inner-cart img {
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all .3s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}



.fs-16 {
  font-weight: 700;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  color: #fff;
  font-size: 16px;
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fs-16 a {
  color: #fff;
  text-decoration: none;
}

.fs-16 a:hover {
  color: rgba(255,255,255,0.6);
}

.header-cart-item p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: #EBEBEB;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-progress {
  background: #8A8AA0;
    border-radius: 17px;
    height: 3px;
    position: absolute;
    bottom: 21px;
    width: 93%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header-progress-bar {
  height: 100%;
  width: 50%;
  background: #fff;
  border-radius: 17px;
  color: #fff;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}

@media only screen and (max-width: 549px) {
  .header-container {
    width: 750px;
  }

  .header-wrap-cart {
    flex-wrap: wrap;
  }

  .header-cart-item {
    width: calc(100% - 30px);
    margin-left: 30px;
  }

  .header-cart-item.style2 {
    width: calc(100% - 30px);
    margin-left: 30px;
  }
}

.header-decoration {
  position: absolute;
  right: -30%;
  bottom: 0;
}