/** @format */

.information {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      261.78deg,
      rgba(0, 0, 0, 0.81) 27.95%,
      rgba(96, 0, 222, 0.53) 94.7%
    ),
    url('../images/matias-islas-Nw0j-2YAnfI-unsplash\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.information-container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.information-filter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background: linear-gradient(
    0deg,
    #000000 -0.82%,
    rgba(0, 0, 0, 0) 99.18%
  );
}

.information-head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

.information-title {
  max-width: 1030px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.information-title span {
  background: linear-gradient(90.91deg, #6000de 6.74%, #02fcff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
}

.information-title img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -22px;
}

.information-paragraph {
  max-width: 710px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}

.information-paragraph span {
  color: var(--cyan);
}

.information-btn {
  border: none;
  width: 317px;
  height: 62px;
  border-radius: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.information-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 60px;
}

.btn-degrade {
  background: linear-gradient(
    90.48deg,
    #6000de 18.87%,
    #02fcff 99.72%
  );
}

.btn-dark {
  background: #08040d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.information-next {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 50px;
}

.information-technologies {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .information {
    background-image: linear-gradient(
        185.99deg,
        #000000 28.55%,
        rgba(96, 0, 222, 0.53) 98.82%
      ),
      url('../images/matias-islas-Nw0j-2YAnfI-unsplash\ 1.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .information-filter {
    display: none;
  }

  .information-head {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }

  .information-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
  }

  .information-title img {
    bottom: -10px;
  }

  .information-paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }

  .information-buttons {
    flex-direction: column;
    justify-content: center;
  }

  .information-technologies {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .information-technologies img {
    width: 40px;
    object-fit: contain;
  }
}
