.Memberships {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
}

.memberships-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memberships-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memberships-title h1 {
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.09;
}

.memberships-title {
    display: flex;
    align-items: flex-start;
}

.memberships-title img {
    margin-top: 6px;
    margin-right: 10px;
}

.memberships-header a {
    width: 120px;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.memberships-header a:hover {
    color: var(--primary-blue);
}

.memberships-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.memberships-previous,
.memberships-next {
    display: none;
}

@media (max-width: 860px) {
    .memberships-previous,
    .memberships-next {
        display: flex;
    }

    .memberships-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1.5fr 0.5fr;
        gap: 20px 0px;
        grid-template-areas:
            "memberships-carousel memberships-carousel"
            "memberships-previous memberships-next";
    }
    .memberships-carousel {
        grid-area: memberships-carousel;
        justify-self: center;
        align-self: center;
    }
    .memberships-previous {
        grid-area: memberships-previous;
        justify-self: center;
        align-self: center;
    }
    .memberships-next {
        grid-area: memberships-next;
        justify-self: center;
        align-self: center;
    }
}

@media (max-width: 460px) {
    .memberships-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .memberships-title {
        margin-bottom: 30px;
    }
}
