.Navbar {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--line);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(28.7px);
    backdrop-filter: blur(28.7px);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Navbar a {
    text-decoration: none;
    color: white;
}

.navbar-container {
    height: 80px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "home navigation academy";
}

.home {
    grid-area: home;
    border-right: 1px solid var(--line);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.navigation {
    grid-area: navigation;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "nav-countdown shortcuts";
    grid-area: navigation;
}

.nav-countdown {
    grid-area: nav-countdown;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid var(--line);
}

.nav-countdown-image {
    /* width: 50%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-countdown-image img {
    max-height: 50px;
    object-fit: contain;
}

.nav-countdown-title {
    font-weight: 700;
    line-height: 1.09;
    text-align: center;
}

.nav-countdown-title a {
    text-decoration: underline;
}

.nav-countdown-title:hover {
    color: var(--primary-blue);
}

.nav-countdown-title:hover a {
    color: var(--primary-blue);
}

.nav-countdown-timer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-countdown-segment {
    width: 35px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-countdown-letters {
    font-size: 10px;
}
.nav-countdown-numbers {
    font-weight: bold;
    font-size: 18px;
}

.shortcuts {
    grid-area: shortcuts;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-right: 20px;
}

.Navbar .nav-courses {
    color: #ffffff;
    height: 100%;
    border: none;
    font-size: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
}

.Navbar .nav-courses:hover {
    color: rgba(143, 143, 143, 1);
    border-bottom: 2px solid #6000de;
}

.shortcuts a {
    height: 100%;
    display: flex;
    align-items: center;
}

.shortcuts a:hover {
    color: rgba(143, 143, 143, 1);
    border-bottom: 2px solid #6000de;
}

.academy {
    grid-area: academy;
    border-left: 1px solid var(--line);
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.register:hover {
    color: #6000de;
}

.login {
    border: 1px solid rgba(143, 143, 143, 0.6);
    padding: 10px 20px;
    height: 50px;
    margin-left: 30px;
}

.login:hover {
    background-color: rgba(143, 143, 143, 0.4);
    border: 1px solid rgba(143, 143, 143, 0.6);
}

.menu-list,
.menu-icon,
.menu-academy {
    display: none;
}

.courses-menu-container {
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: rgba(176, 176, 176, 0.8);
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in all;
}

.courses-menu {
    width: 100%;
    max-width: 1440px;
    height: 400px;
    background-color: rgba(78, 78, 78, 1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
    display: flex;
    position: relative;
    z-index: 1000;
    transition: 0.5s ease-in all;
}
.courses-preview {
    background-color: #fafafa;
    width: 590px;
    height: 100%;
    overflow: hidden;
}
.courses-list {
    width: calc(100% - 590px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.courses-column {
    height: 90%;
}

.courses-column h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.courses-column ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.courses-column li {
    display: flex;
    align-items: center;
}

.courses-column a {
    font-size: 16px;
}

.courses-column a:hover {
    border: none;
    color: #8f8f8f;
}

.corses-bullet-point {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-countdown,
.menu-academy,
.menu-shortcuts,
.menu-list-close {
    display: none;
}

@media (max-width: 1024px) {
    .navbar-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation {
        grid-area: navigation;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "shortcuts";
        grid-area: navigation;
    }

    .nav-countdown {
        display: none;
    }
    .academy {
        padding-left: 20px;
    }

    .login {
        margin-left: 20px;
    }

    .courses-column h3 {
        font-size: 16px;
    }

    .courses-column a {
        font-size: 12px;
    }

    .corses-bullet-point {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .corses-bullet-point img {
        width: 10px;
    }
}

@media (max-width: 860px) {
    .shortcuts,
    .register,
    .login {
        display: none;
    }

    .navigation,
    .academy,
    .home {
        border: none;
    }

    .academy {
        justify-content: flex-end;
        padding-right: 20px;
    }

    .menu-icon {
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .menu-list {
        width: 400px;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        -webkit-backdrop-filter: blur(28.7px);
        backdrop-filter: blur(28.7px);
        background-color: rgba(0, 0, 0, 1);
        transition: all 0.5s ease-in;
    }

    .menu-countdown {
        width: 90%;
        height: 120px;
        border-radius: 10px;
        margin: 20px;
        background-color: var(--base-1);
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
        padding: 10px;
        display: flex;
        color: white;
    }

    .menu-countdown-image {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-countdown-timer {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .menu-countdown-segment {
        width: 20px;
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-countdown-letters {
        font-size: 10px;
    }
    .menu-countdown-numbers {
        font-weight: bold;
        font-size: 18px;
    }

    .menu-shortcuts {
        width: 100%;
        height: 45%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        /* background-color: var(--base-3); */
        padding: 0px 25px;

    }

    .menu-shortcuts-item {
        width: 100%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-shortcut-detail { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        transition: all 0.3s ease-in;
        padding: 0px 25px;
    }

    .menu-shortcut-detail span {
        width: 100%;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--line);
        margin-bottom: 10px;
    }

    .menu-shortcut-detail-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .menu-shortcut-detail-items a {
        margin-bottom: 5px;
    }

    .menu-academy {
        width: 100%;
        height: 100px;
        margin: 20px;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .menu-academy a {
        color: white;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }

    .menu-sign-up {
        background-color: var(--primary-blue);
    }

    .menu-log-in {
        background-color: black;
        border: 0.5px solid white;
    }
}

@media (max-width: 460px) {
    .search input {
        display: none;
    }

    .navigation,
    .academy {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-container {
        grid-template-columns: 60% 20% 20%;
    }

    .search {
        margin: 0;
    }

    .search-icon {
        font-size: 24px;
        margin: 0;
    }

    .menu-list {
        width: 100vw;
    }

    .academy a {
        display: none;
    }

    .logo img {
        width: 120px;
    }
}

@media (max-width: 320px) {
    .menu-shortcuts-item {
        font-size: 18px;
        margin: 0;
    }

        .menu-academy a {
        color: white;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
}
