.Professional {
    width: 100%;
    height: 450px;
    background-color: var(--base-1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
}

.professional-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.professional-title {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professional-title h1 {
    font-size: 73px;
    line-height: 1.09;
}

.professional-title span {
    background: linear-gradient(
        90deg,
        rgba(96, 0, 222, 1) 30%,
        rgba(0, 255, 255, 1) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.professional-content {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .professional-title h1 {
        font-size: 64px;
        line-height: 1.09;
    }
}

@media (max-width: 860px) {
    .Professional {
        height: 400px;
    }

    .professional-container {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .professional-title {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .professional-title h1 {
        font-size: 62px;
        line-height: 1.09;
        text-align: center;
    }

    .professional-content {
        width: 100%;
        align-items: center;
        justify-content: center;    
    }
    .professional-content p {
        text-align: center;
    }
}


@media (max-width:460px) {


    .professional-title h1 {
        font-size: 36px;
        line-height: 1.09;
        text-align: center;
    }
}