.StudyMethod {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.study-method-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.study-method-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.study-method-title h1 {
    font-size: 32px;
    line-height: 1.09;
    font-weight: 500;
}

.study-method-title span {
    color: var(--primary-blue);
}

.study-method-tags {
    display: flex;
}

.study-method-content {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "study-method-image study-method-items";
}
.study-method-image {
    grid-area: study-method-image;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.study-method-items {
    grid-area: study-method-items;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

@media (max-width:1024px) {
    .study-method-image img {
        max-width: 100%;
    }
}

@media (max-width:860px) {

    /* .StudyMethod {
        height: 1125px;
    }

    .study-method-title {
        flex-direction: column;
        align-items: flex-start;
        height: 50%;
    }

    .study-method-tags {
        flex-direction: column;
        margin-top: 20px;
    } */

    .StudyMethod {
        height: auto;
    }

    .study-method-title {
        height: 20%;
        flex-direction: column;
        align-items: flex-start;
    }

    .study-method-tags {
        margin-top: 20px;
    }

    .study-method-content {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "study-method-items" "study-method-image" ;
}
}

@media (max-width:460px) {
    .study-method-tags {
        flex-direction: column;
    }
}