/** @format */

.whiteboard {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(
    96.08deg,
    rgba(28, 0, 108, 0.81) 25.56%,
    rgba(20, 1, 75, 0.05) 80.42%
  );
  background-color: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.whiteboard-container {
  width: 100%;
  /* min-height: 1048px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  position: relative;
}

.whiteboard-decoration {
  position: absolute;
  bottom: -10%;
  left: 0;
}
.whiteboard-content {
  position: relative;
  z-index: 3;
}

.whiteboard-filter {
  display: none;
}

.whiteboard-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.whiteboard-line {
  width: 98px;
  height: 3px;
  background: #ffffff;
  position: absolute;
  bottom: 4px;
  left: 0;
}

.whiteboard-head {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  padding-left: 110px;
}

.whiteboard-title {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 81px;
  color: #ffffff;
  margin-bottom: 35px;
}

.whiteboard-paragraph {
  max-width: 550px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 60px;
}

.whiteboard-items {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 55px;
}

.whiteboard-item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.whiteboard-item img {
  margin-right: 19px;
}

.whiteboard-button {
  width: 298px;
  height: 63px;
  background: linear-gradient(
    90.46deg,
    #6000de -2.52%,
    #02fcff 116.79%
  );
  border-radius: 63px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  
}

.whiteboard-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.whiteboard-trailer {
  border  : none;
  width: 211px;
  height: 38px;
  background: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  display: flex;
}

.whiteboard-trailer span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #6000de;
  font-size: 16px;
  margin-right: 10px;
}

.whiteboard-character-container {
  position: relative;
}

.whiteboard-character {
  position: relative;
  z-index: 2;
}

.whiteboard-character-elipse {
    position: absolute;
    width: 550px;
    height: 550px;
    right: -20%;
    bottom: 30%;
    background: linear-gradient(      322.76deg,      #6000de83 11.16%,      rgba(0, 255, 255, 0.2) 74.95%    );
    transform: rotate(-161.37deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    filter: blur(70px);
    -webkit-filter: blur(70px);
}

@media screen and (max-width: 1024px) {
  .whiteboard-items {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }

  .whiteboard-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {

  .whiteboard-decoration {
    width: 300px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .whiteboard-content {
    padding-top: 80px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 180px;
    position: relative;
  }

  .whiteboard {
    background: linear-gradient(34.44deg, rgba(28, 0, 108, 0.81) 36.18%, rgba(20, 1, 75, 0.05) 94.14%);
    background-color: #000000;
  }


  .whiteboard-line {
    width: 60px;
    height: 3px;
    background: #ffffff;
  }

  .whiteboard-head {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    padding-left: 70px;
  }

  .whiteboard-heading {
    margin-bottom: 28px;
  }

  .whiteboard-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
    margin-bottom: 26px;
  }

  .whiteboard-paragraph {
    max-width: 350px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 60px;
  }

  .whiteboard-items {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }

  .whiteboard-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .whiteboard-item img {
    width: 25px;
    height: 25px;
  }


.whiteboard-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

}


@media screen and (max-width: 460px) {
  .whiteboard-character-container {
    position: absolute;
    top: 0;
    right: -20%;
    height: 540px;
  }

  .whiteboard-character {
    /* position: absolute; */
    height: 540px;
    object-fit: contain;
    z-index: 1;
  }
}