.DegradeButton {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    background: linear-gradient(
        110deg,
        rgba(96, 0, 222, 0.8) 50%,
        rgba(0, 255, 255, 0.6) 80%
    );
    color: var(--white);
    margin: 20px 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    justify-self: flex-start;
}



.create-account {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 10px;
}


.DegradeButton:hover {
        background: linear-gradient(
        110deg,
        rgba(96, 0, 222, 0.8) 0%,
        rgba(0, 255, 255, 0.6) 0%
    );
}


.DegradeButton:hover .create-account {
    background-color: var(--primary-blue);

}