.Tags {
    height: 48px;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(25.8px);
  backdrop-filter: blur(25.8px);
      background-color: rgba(255, 255, 255, 0.4);

  position: relative;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.Tags a {
    color: white;
}

.tags-circle {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white !important;

}

.Tags:hover {
  background-color: #6000de70;
}

.Tags:hover .tags-circle{
  background-color: var(--primary-blue);
}

.tag-active {
  background-color: var(--primary-blue);
}

@media (max-width:860px) {
  .Tags {
    margin: 0px 5px;
  }
}


@media (max-width:460px) {
  .Tags {
    margin: 10px 0px;
  }
}