.Item {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "item-dot item-content";
    width: 500px;
    margin: 20px 0;
}

.item-dot {
    grid-area: item-dot;
}
.item-circle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-circle-center {
    width: 14px;
    height: 14px;
    border-radius: 14px;
}

.item-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "item-title"
        "item-body";
    grid-area: item-content;
}

.item-title {
    grid-area: item-title;
    text-transform: uppercase;
    color: black;
}

.item-title h3 {
    font-size: 20px;
    font-weight: 500;
}

.item-body {
    grid-area: item-body;
    color: #696871;
}

@media (max-width:460px) {
    .Item {
        width: 95%;
    }
}

@media (max-width:320px) {
    .item-title h3 {
        font-size: 16px;
    }

    .item-body {
        font-size: 14px;
    }

    .item-circle{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
}