.AdvisoryGlobal {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    right: calc(50% - 350px);
    width: 700px;
    height: auto;
    background-color: var(--primary-blue);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    transition: 1s all ease-out;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.ag-closer {
    width:20px;
    height: 20px;
    font-size: 24px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
    background-color: var(--base-3);
}

.ag-closer:hover {
    color: var(--primary-blue);
}

.AdvisoryGlobal h1 {
    font-size: 24px;
}

.AdvisoryGlobal a {
    width: 230px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid var(--cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in;
}
.ag-icon{
    font-size: 20px;
    margin-right: 15px;
}

.AdvisoryGlobal a:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.6);
}